.Dashboard{
    background-color: rgb(224, 224, 224);
}

.Container {
    margin: 40px auto 0 auto;
    padding: 10px;
    width: 70%;
    background-color: white;
    border: 2px solid #d1d1d1;
    border-radius: 5px;;
}

.Dark {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.856);
}

.Clickable:hover {
    color:white;
    cursor: pointer;
}

.Clickable:hover > .Sort {
    color:white;
}

.Sort {
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.856);
}

/* .Sort:hover {
    color:white;
} */